@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;200;900&display=swap');

*{
    font-family: Roboto, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.s1{
    background-color: #1f2937;
    margin-bottom: 50px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 200px;
    margin-bottom: 50px;
}

.logo{
    display: flex;
    color: #f9faf8;
    flex-shrink: 0;
    font-weight: 900;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

ul{
    list-style-type: none;
    display: flex;
    flex-shrink: 0;
    gap: 18px;
    margin-left: auto;
}
.s1container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    gap: 18px;
    margin-bottom: 50px;
}

.s1title{
    font-size: 48px;
    color: #f9faf8;
}

.s1text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
    font-weight: 200;
}

button.s1button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 24px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
}

.img-placeholder{
    display: flex;
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    background-color: darkgrey;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.s2{
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

.s2container{
    display: flex;
    gap: 36px;
    flex: auto;
    
}

.s2title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 25px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    gap: 8px;
}

.box{
    border-radius: 16px;
    border: 3px solid #3882f6;
    height: 125px;
    width: 125px;
}

.info-text{
    text-align: center;
    color: rgb(94, 94, 94);
}

.s3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px 350px;
    color: #1f2937;
    gap: 8px;
    flex: auto;
}

.quote{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 36px;
}

.author{
    margin-left: auto;
    font-weight: 900;
    font-size: 18px;
}

.s4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}

.s4container{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 25px;
    width: 500px;
}